@use "@/shared/generalStyles";

.footerBlockWrapper{
  background-color: #30bcc9;

  h2{
    margin-block: 0;
    margin-bottom: 2.5vh;

    font-family: CirceRegular, sans-serif;
    font-size: 21px;
  }

  .footerContentWrapper{
    width: generalStyles.$blockWidth;

    margin: 10vh auto;

    display: flex;
    flex-direction: column;

    .footerLineWrapper{
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: white;

      &:first-child{
        margin-bottom: 4vh;
      }
    }
  }
}

.socialMediaWrapper{
   width: fit-content;
   height: fit-content;

   img{
     margin-right: 1.5vw;
   }
 }

.appLinksWrapper{
  display: flex;
  flex-direction: column;

  width: 8vw;

  img{
    margin-bottom: 2vh;
  }

  a:hover{border-color: transparent}
}

.newsSubscriptionWrapper{
  width: 18vw;
  height: fit-content;

  display: flex;
  flex-direction: column;

  span{
    margin-bottom: 3vh;

    font-family: CirceThin, sans-serif;
    font-size: 14px;
  }

  .sendMailWrapper{
    height: 5vh;

    display: flex;
    flex-direction: row;

    input{
      width: 80%;

      padding-block: 10px;
      padding-inline: 10px;
    }

    button{
      width: 20%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}