.menuItemWrapper{
  width: 13vw;
  height: fit-content;

  margin: 0;
  padding: 4vh 2vw;

  h4{
    margin: 0 0 2vh 0;

    font-family: CirceRegular, sans-serif;
    font-size: 21px;
    color: white;
  }
}