.itemWrapper{
  width: fit-content;

  display: flex;
  flex-direction: column;

  color: white;

  h2{
    margin: 0 0 4vh 0;

    font-size: 30px;
    font-family: CirceRegular, sans-serif;
  }

  a{
    width: fit-content;

    margin-bottom: 2vh;

    font-family: CirceThin, sans-serif;

    border-bottom: 1px solid transparent;

    &:hover{
      color: #FFC41E;
      border-color: #FFC41E;
    }
  }
}